body, h1, h2, p {
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, sans-serif;
    background-color: hsl(332, 87%, 64%);
    line-height: 1.6;
}
header {
    background-color: hsl(332, 87%, 64%);
    padding: 1rem 0;
    text-align: center;
}
nav ul {
    list-style: none;
}
nav ul li {
    display: inline;
    margin-right: 20px;
}
nav a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.content{
    padding: 2rem;
    background-color: #fff;
    color: black;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    text-align: left;
}
h1{
    color: black;
    margin: 20px 0px 20px;
    font-size: 45px;
}
h3{
    color: black;
    font-size: 25px;
    margin-bottom: 50px;
}
h4{
    color: black;
    letter-spacing: 2px;
    font-size: 20px;
}
.newslatter form{
    width: 380px;
    max-width: 100%;
    position: relative;
}
.newslatter form input:first-child{
    display: inline-block;
    width: 62%;
    padding: 14px 130px 14px 15px;
    border: 2px solid #f9004d;
    outline: none;
    border-radius: 30px;
}
.newslatter form input:last-child{
    position: absolute;
    display: inline-block;
    outline: none;
    border: none;
    padding: 10px 30px;
    border-radius: 30px;
    background-color: #f9004d;
    color: white;
    box-shadow: 0px 0px 5px #000, opx 0px 15px #858585;
    top: 6px;
    right: 6px; */
}
.section {
    padding: 2rem;
    background-color: #fff;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
.project {
    margin-bottom: 20px;
}